In [23]:
new_exams = ["18-spring-final-new.csv", "18-spring-mid-new.csv","21-fall-final-new.csv","21-fall-mid-new.csv"]

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [2]:
import pandas as pd
# df = pd.read_csv("18-spring-mid-new.csv")

/var/folders/rg/mf83ftys741dhlw4543fcfhr0000gn/T/ipykernel_2268/2165555622.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [29]:
df = df.drop("Unnamed: 0", axis = 1)

In [36]:
df

     Unnamed: 0 Claude Bing Llama Answer
0             0      a    a     a      a
1             1      a    a     a      a
2             2      a    a     a      a
3             3      a    b     b      a
4             4      a    b     b      a
..          ...    ...  ...   ...    ...
145         145      a    a     a      a
146         146      a    a     a      a
147         147      b    a     a      a
148         148      a    a     a      a
149         149      a    a     a      b

[150 rows x 5 columns]

In [39]:
df = df.drop("Unnamed: 0", axis = 1)

for col in df.columns[:-1]:
    df[col] = (df[col] == df["Answer"]).astype(int)

df = df.drop("Answer", axis = 1)
df = df.rename({col:col.lower() + "_pts_earned" for col in df.columns})

KeyError: "['Unnamed: 0'] not found in axis"

In [42]:
df = df.rename({col:col.lower() + "_pts_earned" for col in df.columns}, axis = 1)

In [43]:
df

     claude_pts_earned  bing_pts_earned  llama_pts_earned
0                    1                1                 1
1                    1                1                 1
2                    1                1                 1
3                    1                0                 0
4                    1                0                 0
..                 ...              ...               ...
145                  1                1                 1
146                  1                1                 1
147                  0                1                 1
148                  1                1                 1
149                  0                0                 0

[150 rows x 3 columns]

In [48]:
for exam in new_exams:
    df = pd.read_csv(exam)
    df = df.drop("Unnamed: 0", axis = 1) if "Unnamed: 0" in df.columns else df

    for col in df.columns[:-1]:
        df[col] = (df[col] == df["Answer"]).astype(int)

    df = df.drop("Answer", axis = 1)
    df = df.rename({col:col.lower() + "_pts_earned" for col in df.columns}, axis = 1)

    df.to_csv(exam, index = False)

In [3]:
df = pd.read_csv("21-fall-final-new.csv")

In [4]:
df

   Claude Bing Llama Answer
0       b    b     b      b
1       a    a     a      a
2       c    c     c      c
3       d    d     d      d
4       b    c     b      e
5       c    e     a      c
6       d    a     a      e
7       c    c     a      c
8       e    e     b      e
9       c    c     a      c
10      c    c     c      c
11      a    e     c      c
12      d    a     b      d
13      b    d     b      d
14      e    e     d      e
15      e    e     c      a
16      d    e     e      e
17      b    c     a      c
18      b    e     a      c
19      e    e     d      e
20      b    b     b      b
21      a    a     a      a
22      e    e     a      e
23      d    d     d      d
24      c    c     c      c
25      b    e     d      c
26      d    d     d      b
27      d    c     b      c
28      b    b     d      b
29      d    e     e      c
30      b    b     b      b
31      e    e     c      e
32      c    e     c      e
33      b    b     b      b
34      d    d     a      d
35      c    c     b      d
36      a    a     a      a
37      c    c     c      b
38      a    a     a      a
39      d    d     a      d
40      d    d     b      a
41      c    a     b      b
42      b    a     a      a
43      d    d     d      d
44      a    a     a      a
45      d    d     d      d
46      b    b     b      b
47      c    c     d      c
48      d    d     c      d
49      b    b     b      b
50      b    b     c      b
51      e    e     c      e
52      a    a     c      a
53      e    e     b      e
54      c    c     c      c
55      d    d     b      d
56      d    d     d      d
57      b    b     a      e
58      c    d     b      d
59      b    b     b      b

In [5]:
for col in df.columns[:-1]:
    df[col] = (df[col] == df["Answer"]).astype(int)

df = df.drop("Answer", axis = 1)
df = df.rename({col:col.lower() + "_pts_earned" for col in df.columns}, axis = 1)

In [6]:
df

    claude_pts_earned  bing_pts_earned  llama_pts_earned
0                   1                1                 1
1                   1                1                 1
2                   1                1                 1
3                   1                1                 1
4                   0                0                 0
5                   1                0                 0
6                   0                0                 0
7                   1                1                 0
8                   1                1                 0
9                   1                1                 0
10                  1                1                 1
11                  0                0                 1
12                  1                0                 0
13                  0                1                 0
14                  1                1                 0
15                  0                0                 0
16                  0                1                 1
17                  0                1                 0
18                  0                0                 0
19                  1                1                 0
20                  1                1                 1
21                  1                1                 1
22                  1                1                 0
23                  1                1                 1
24                  1                1                 1
25                  0                0                 0
26                  0                0                 0
27                  0                1                 0
28                  1                1                 0
29                  0                0                 0
30                  1                1                 1
31                  1                1                 0
32                  0                1                 0
33                  1                1                 1
34                  1                1                 0
35                  0                0                 0
36                  1                1                 1
37                  0                0                 0
38                  1                1                 1
39                  1                1                 0
40                  0                0                 0
41                  0                0                 1
42                  0                1                 1
43                  1                1                 1
44                  1                1                 1
45                  1                1                 1
46                  1                1                 1
47                  1                1                 0
48                  1                1                 0
49                  1                1                 1
50                  1                1                 0
51                  1                1                 0
52                  1                1                 0
53                  1                1                 0
54                  1                1                 1
55                  1                1                 0
56                  1                1                 1
57                  0                0                 0
58                  0                1                 0
59                  1                1                 1

In [7]:
df.to_csv("21-fall-final-new.csv", index = False)